body {
    margin: 0;
    padding: 0;
       background-color: #b19a55; 
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.dsds{
    width: 90px;
  position: relative;
  top: -180px;left: -870px;
  
  }
.container {
    text-align: center;
    width: 60%;
    padding: 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em;

    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    width: 48%; 
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #aaa;
}

.buttons {
    margin-top: 20px;
}

.buttons a {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

a.cancel {
    background-color: #ccc;
    color: #000;
}

a.cancel:hover {
    background-color: #bbb;
}

a.confirm {
    background-color: #000;
    color: #fff;
}

a.confirm:hover {
    background-color: #333;
}
